html , body {
    background-color: rgb(218, 120, 75);
    margin: 0;
    padding: 0;
}
    



.box{
    background-color: rgb(247, 140, 0);
    padding: 30px;
    margin: 20px;
   
}
.button{
    color: black;
    background-color: rgb(255, 72, 0);
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    border: 2px solid black;
}
.maincontent{
    max-width: 700px;
    margin: auto;
    
}
.PF{
    font-size: x-large;
}
.ICECT{
    width:5%
    
    
}